//Esquemas de cores

$CorPrincipal : #182C61;
$CorDeFundo : #f5f6fa; 
$CorSecundario : #44bd32;
$terceiraCor : #4cd137;

// Fontes 

$fontePrincipal: Roboto, sans-serif ;

// Breakpoints 

$mobile: 767px ;
$desktop:1023px;